@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: rgb(var(--foreground-rgb));
    @keyframes wave {
        0% {
          background-position: 200% 0;
        }
        100% {
          background-position: -200% 0;
        }
      }
      
      .animate-wave {
        animation: wave 0.5s ease-in-out infinite;
      }
      
}
